@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply px-4 md:px-8 lg:px-12 xl:px-0;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin for common elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  min-height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}
/*
  4. Improve the typography across the site.
*/
body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 5. Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* 6. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Create a root stacking context
*/
#__next {
  min-height: 100%;
  isolation: isolate;
}

.hover-underline-animation {
  position: relative;
  width: fit-content;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  background-color: #8B5CF6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}